	body{
				background-color: #efefef;
			}
			a:hover 
			{
				color:red;
			}
			a{
				text-decoration:none;
				color:black;
			}		
			#father{
				width: 1300px;
				margin: auto;
			}
			#logo{
				width: 1300px;
				height: 112px;
			}
			#info{
				width: 1300px;
				height: 141px;
			}
			#info1{
				height: 112px;
				width: 188px;
				padding-top: 29px;
				float: left;
			}
			#info2{
				height: 112px;
				width: 188px;
				padding-top: 29px;
				float: left;
			}
			#info3{
				height: 75px;
				width: 915px;
				padding-top: 65px;
				text-align: right;
				float: left;
			}
			#index1{
				border: 1px solid black;
				height: 55px;
				width: 1300px;
				padding-top: 13px;
			}
			#1111{
				height: 55px;
				width: 1300px;
			}
			#form{
				border: 1px solid black;
				height: 200px;
				width: 572px;
				margin: auto;
			}
			font {
				color: #666;
				font-size: 22px;
				font-weight: normal;
				padding-right: 17px;
			}
			
			#bottom{
				text-align: center;
			}